.product-container {
  padding: 20px;
  background-color: #f0efef97;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.nav-filter input {
  width: 150px;
}

.nav-filter button {
  width: 150px;
  height: 40px;
  text-transform: none;
}


 th {
  text-align: center !important;
  background: aliceblue;
  border-right: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
  line-height: normal;
}

 td {
  text-align: center !important;
  border-right: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
  word-wrap: break-word;
  white-space: normal;
}

td th{
  text-align: center;
}

.product-table tr th:last-child,
.product-table tr td:last-child {
  border-right: none;
}

.product-table tr:last-child td {
  border-bottom: none; 
}


@media (max-width: 467px) {
  .product-container {
    padding: 5px;
  }

  .nav-filter {
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }

 
  .nav-filter input {
    width: 100%;
    max-width: 300px;
  }

  .nav-filter button {
    width: 200px;
    margin-top: 8px;
  }

  .product-table {
    max-width: 100%;
    margin: 0 auto;
  }
}
